// put your custom CSS here!
/* Table styles with rounded edges and borders */
table {
  border: 1px solid var(--border-color);
  width: 100%;
  margin: 0px !important;
  font-size: 16px;
  text-align: left;
  overflow: hidden; /* This will ensure inner borders don't leak outside the rounded corners */
}

table th,
table td {
  padding: 0px;
  padding-left: 5px;
  border: 1px solid var(--border-color);
  font-family: "IBM Plex Mono";
  font-size: 12px;
}

table th {
  background-color: var(--header-bg);
  color: var(--header-color);
}

/* Light mode colors */
:root {
  --border-color: #e0e0e0;
  --header-bg: #d0d0d0; /* Darker background for headers in light mode */
  --header-color: #333;
}

/* Dark mode colors */
:root[saved-theme="dark"] {
  --border-color: #444;
  --header-bg: #333;
  --header-color: #f5f5f5;
}
